[user]
	name = Marcel Hlopko
	email = hlopko@google.com
[github]
        user = hlopko
[core]
        autocrlf = false
        filemode = false
[color]
        ui = true
[alias]
        co = checkout
        c = commit
        s = status
        b = branch
        di = diff
        dc = diff --cached
        aa = add --all
        l = log --graph --abbrev-commit --date=relative --remotes
        ctags = !.git/hooks/ctags
	ll = log --stat
	lg = log
	lp = log -p
[mergetool "fugitive"]
        cmd = nvim -f -c \"Gdiff\" \"$MERGED\"
[merge]
        tool = fugitive
        confictstyle = diff3
        summary = true
[format]
        ; pretty=format:%C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset
[blame]
        ;date=local
[branch]
        autosetuprebase = always
[mergetool]
        keepBackup = false
[core]
        pager = less -F -X
        whitespace = trailing-space,space-before-tab
	excludesfile = ~/.gitignore
[interactive]
	singleKey = yes
[http]
  cookiefile = /usr/local/google/home/hlopko/.gitcookies
[push]
	default = current
