vim/.netrwhist
vim/.vim/.netrwhist
vim/.vim/autoload/
vim/.vim/bundle/AutoTag/
vim/.vim/bundle/command-t/
vim/.vim/bundle/nerdcommenter/
vim/.vim/bundle/nerdtree/
vim/.vim/bundle/puppet-syntax-vim/
vim/.vim/bundle/ultisnips/
vim/.vim/bundle/vim-bundler/
vim/.vim/bundle/vim-coffee-script/
vim/.vim/bundle/vim-endwise/
vim/.vim/bundle/vim-fugitive/
vim/.vim/bundle/vim-gitgutter/
vim/.vim/bundle/vim-indent-guides/
vim/.vim/bundle/vim-markdown/
vim/.vim/bundle/vim-matchit/
vim/.vim/bundle/vim-ragtag/
vim/.vim/bundle/vim-rails/
vim/.vim/bundle/vim-repeat/
vim/.vim/bundle/vim-ruby/
vim/.vim/bundle/vim-surround/
vim/.vim/bundle/ctrlp.vim/
vim/.vim/bundle/syntastic/
vim/.vim/bundle/vim-indent-object/
vim/.vim/bundle/vim-unimpaired/
