Dropbox
Projects
Documents
Downloads
Videos
Pictures
Music
Maildir
Private
Apps
Desktop
Notes
VirtualBox VMs
.602filler/
.ICEauthority
.IdeaIC11/
.IntelliJIdea11/
.JavaPowUpload.properties
.NERDTreeBookmarks
.RubyMine40/
.Skype/
.VirtualBox/
.Xauthority
.Xresources
.adobe/
.allegro-prefs-9-0-express-backup.cl
.allegro-prefs-9-0-express.cl
.arista/
.aspell.en.prepl
.aspell.en.pws
.avidemux/
.bash_history
.bash_logout
.bash_profile
.cache/
.ce/
.config/
.cgdb
.codeanalyzer/
.compiz-1/
.dbus/
.ddd/
.dia/
.dmrc
.dropbox-dist/
.dropbox/
.eclipse/
.everpad/
.fontconfig/
.fonts/
.gconf/
.gdb_history
.gem/
.gimp-2.8/
.gksu.lock
.gnupg/
.goutputstream-B614MW
.goutputstream-PC4NNW
.goutputstream-UQ9WNW
.gscan2pdf
.gstreamer-0.10/
.gtk-bookmarks
.gnome2/
.heroku/
.histfile
.irb-history
.install4j
.java/
.keystore
.launchpadlib/
.lesshst
.lispworks-config/
.local
.m2/
.m2_tmp/
.macromedia/
.maildir/
.mediatomb/
.mission-control/
.mmex/
.mozilla/
.mplayer/
.msf4/
.mhtodo/
.mysql_history
.nbprofiler/
.netbeans/
.netrc
.oh-my-zsh/
.openshot/
.opera/
.pki/
.pam_environment
.pry_history
.psql_history
.pulse-cookie
.pulse/
.purple/
.profile
.racket/
.remmina/
.rvm/
.shotwell/
.swt/
.ssh
.subversion
.smalltalk/
.selected_editor
.texmf-var/
.tgdb/
.themes/
.thumbnails/
.thunderbird/
.visualvm/
.vim/.netrwhist
.viminfo
.xsession-errors
.xsession-errors.old
.yjp
.zshrc.orig
.zshrc.zni
.zsh_history
.zsh-update
.zcompdump
.IntelliJIdea12/
.RubyMine50/
.compiz/
.dircolors
.face
.gnome/
.rnd
.signon/
.skype-wrapper/
.vim/view/
.miro
.icedtea
bin/alisp

bin/alisp
.sqlite_history
.lightworks*
.ivy2
st.chg
.tmp
.PlayOnLinux
Play On Linux
.wine
.dosbox
.RapidSVN
.vagrant.d
